
 body{
    background-image: url(images/Tulips.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: cursive;
}

.login-box{
	width: 320px;
	height: 390px;
	background: radial-gradient(rgba(255,255,255));
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 6);
	backdrop-filter: blur(3px);
	border-radius: 20px;

}

img{
	width: 120px;
	height: 120px;
	margin-left: 30%;
	margin-top: -65px;
}

h2{
	margin-top: 2px;
	margin-left: 25%;
	font-size: 22px;
	cursor: default;
}

h3,input{
	margin-left: 30px;
}

h3{
	font-size: 20px;
	margin-bottom: 10px;
	cursor: default;
}
input{
	width: 70%;
	height: 20px;
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	background: transparent;
	border-bottom: solid white;
	color: black;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: cursive;
	padding-bottom: 3px;
	margin-bottom: 15px;
	transition: 0.3s ease;
}

input:hover{
	border-bottom: solid black;
}

::placeholder{
	color: black;
}

i{
	color: white;
	margin-left: -10px;
	cursor: pointer;
}

i:hover{
	color: black;
}

button{
	font-size: 18px;
	padding: 6px 16px;
	margin-top: 20px;
	border-radius: 5px;
	outline: none;
	border: none;
	color: white;
	background: black;
	margin-left: 110px;
	transition: 00.3s ease;
	cursor: pointer;
}

button:hover{
	color: black;
	background: white;
}